<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fruit Classification</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <h1>Fruit Classification</h1>

    <div class="container">
      <button id="useCamera">Use Camera</button>
      <button id="uploadImage">Upload Image</button>
      <button id="predict" disabled>Prediction</button>

      <div>
        <div id="imgpreview">Image Preview</div>
        <img id="preview" src="/static/css/buah_bg.jpg" alt="Image Preview" />
      </div>
      <div id="predictionResult">Prediction: Not available</div>
    </div>

    <input type="file" id="fileInput" accept="image/*" style="display: none" />
    <script src="/static/js/main.js"></script>
  </body>
</html>
